<div class="row">
  <div class="col-md-7 col-md-offset-2">
    <p>
      <h3><strong><%= comment.commenter %>:</strong></h3>
      <h4><%= comment.body %><h4>
    </p>
  </div>
  <div class="col-md-1">
   <%= link_to '', [comment.article, comment], class: 'btn btn-danger glyphicon glyphicon-remove clicker',
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </div>
</div>
