<%= simple_form_for @article do |f| %>
<p>
    <h4>
        <%= f.input :title %>
    </h4>
</p>
<p>
    <h4>
        <%= f.input :text %>
    </h4>
</p>
<p>
    <%= f.button :submit %>
</p>
<% end %>
