<div class="new">
  <%= render 'header' %>

  <div class="container text-justify color_text">
  <h1>New article</h1>

  <%= render 'form' %>

  <%= link_to 'Back', articles_path, class: 'btn btn-primary'%>
  </div>
</div>
