<div class="back">
  <div class="hight: 20px"></div>
  <div class="jumbotron up text-center">
    <h1>Welcome to my Website</h1>
    <p>Site about everything!</p>
    <button class="button" style="vertical-align:middle"
      <span><%= link_to 'Enter', articles_path, class: 'start' %> </span>
    </button>
  </div>
</div>
