<div id="body">
<div style="height: 120px;"></div>

  <div id="div_text_shadow">
    Welcome to my blog.<br> Blog about everything!
  </div>

  <div style="height: 400px;"></div>

  <div class="div_text_shadow2">
    <%= link_to 'Enter', controller: 'articles' %>
  </div>

</div>
