.clicker
  margin-top: 23px

.new
  background: url("https://s3.amazonaws.com/firstuseaws/Blog/unnamed.jpg")
  width: 100%
  height: 100%
  position: fixed
  left: 0px
  top: 0px
  z-index: -1
  font-family: 'Open Sans', sans-serif
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.edit
  background: url("https://s3.amazonaws.com/firstuseaws/Blog/track.jpg")
  width: 100%
  height: 100%
  position: fixed
  left: 0px
  top: 0px
  z-index: -1
  font-family: 'Open Sans', sans-serif
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  background-position: center
  background-repeat: no-repeat

.color_text
  color: #bec4e0
  // color: #6af1d7
  // color: #ff7752

.parallax
  background-image: url("https://s3.amazonaws.com/firstuseaws/Blog/rails.jpg")
  min-height: 500px
  background-attachment: fixed
  background-position: center
  background-repeat: no-repeat
  background-size: cover
  margin-top: -20px
